{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/administracion/css/administracion.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
        <nav>
            <ul>
                <li><a href="{{ path('administracion') }}">INICIO</a>
                <li><a href="{{ path('administracion_usuario') }}">USUARIOS</a></li>
                <li><a href="##">EXPEDIENTES</a></li>
                <li><a href="##">MENSAJES</a></li>
            </ul>
         </nav>
{% endblock %}

{% block body %}
        {% for mensaje in app.session.flashbag.get('info') %}
            <div class="aviso_flash">{{ mensaje }}</p></div>
        {% endfor %}
            <div class="limpiar"></div>
        {% block contenido %}{% endblock contenido %}
{% endblock %}