body {
    background: #036 url('/bundles/usuario/images/fondo.jpg') fixed center center repeat-y; 
    font: 1em Verdana, Arial, Helvetica, sans-serif; 
    color:#333;
}

*{
    margin:0;
    padding:0;
}

h2,h3{
    color: #000066;
}

#contenedor{    
    margin: 1% auto;
    background: #0B5F89;
    padding: 5px;
    width: 1024px;
}

#pagina{
    background: #9CB8DD;
    padding: 5px;
}

#banner{
    background: #DBF1FF url('/bundles/usuario/images/banner.png') no-repeat top left;
    background-color: #9CB8DD;
    border: 1px solid #0B5F89;
    font-size: 1.2em;
    height: 55px;
    float: left;
    width: 100%;
}

#usuario{
    float:right;
    font-size: 0.7em;
    text-align: right;
    margin-top:35px;
}

#header{
    border: 1px solid #0B5F89;
    border-width: 1px 0px;
    float: left;
    width: 100%;
    background-color: #9CB8DD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9CB8DD), to(#0B5F89));
    background-image: -webkit-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -moz-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -ms-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -o-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: linear-gradient(top, #9CB8DD, #0B5F89);  
}

#content{
    float: left;
    width: 100%;
}

#footer{
    display: table;
    float: left;
    width: 100%;
    text-align: center;
    background-color:#0B5F89;
    color: #C3E4F5;
    clear: both;
    overflow: hidden;
    height:50px;
    margin-top:20px;
}

#footer2{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

a:link,a:visited{
    color:#DBF1FF;
}
a:hover,a:active{
    color:#000066;
}

nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav li{
    display:inline;
}

nav a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;    
}

nav a:link,nav a:visited{
    font-weight:bold;
    color:#DBF1FF;    
    text-align:center;
    padding:4px;
}

nav a:hover,nav a:active{
    border-radius:10px;
    background-color: #0B5F89;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0B5F89), to(#9CB8DD));
    background-image: -webkit-linear-gradient(top, #0B5F89, #9CB8DD);
    background-image: -moz-linear-gradient(top, #0B5F89, #9CB8DD);
    background-image: -ms-linear-gradient(top, #0B5F89, #9CB8DD);
    background-image: -o-linear-gradient(top, #0B5F89, #9CB8DD);
    background-image: linear-gradient(top, #0B5F89, #9CB8DD);  
}


.limpiar{
    clear:both;
    height:5px;
}

table, th, td {
    padding: 3px 5px;
}

table td ul {
    list-style: none;
    font-size:0;
}

table td ul li {
    display: inline;
}

tr{
    border:2px solid #0B5F89;   
}

td{
    border:1px dashed #0B5F89;   
}

table .tabla_columna_centrada{
    text-align: center;
}

.tabla_datos{
    border: 2px solid #0B5F89;
    width:1014px;
    border-collapse:collapse;
}

.tabla_datos thead{
    background-color: #9CB8DD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9CB8DD), to(#0B5F89));
    background-image: -webkit-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -moz-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -ms-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -o-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: linear-gradient(top, #9CB8DD, #0B5F89);  
    font-size:1.1em;
    color:#000066;
    font-weight: bold;
}

.tabla_datos .fila_par{
    background:#DAF8FF;
}

.tabla_datos .fila_impar{
    background: #C3E4F5;
}

ul.paginador{
    background-color: #9CB8DD;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9CB8DD), to(#0B5F89));
    background-image: -webkit-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -moz-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -ms-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: -o-linear-gradient(top, #9CB8DD, #0B5F89);
    background-image: linear-gradient(top, #9CB8DD, #0B5F89);  
    list-style:none;
    margin: 0;
    padding:.5em;
    text-align:center;
    font-size:1.1em;    
}

ul.paginador li{
    display:inline;
    margin:0;
    padding:0 1em;
    color:#000066;
}
    
ul.paginador li.actual{
    font-weight:bold;
    
}


span.autorizado{
    color:#060;
}

span.no_autorizado{
    color:#C00;
}

/* FORMULARIOS */
.formulario_registro_usuario fieldset{
    margin: 0 auto 10px auto;
    width:600px;
    padding: 20px;
    border:2px ridge #000066;
    color: #000066;
    
}

.formulario_registro_usuario label{
    text-align: right;
    width: 200px;
    float: left;
    font-weight: bold;
    margin: 5px;
    font-size: 1.1em;
}

.formulario_registro_usuario label.lbl_normal{
    text-align:left;
    width:350px;
    font-weight:normal;
}

.formulario_registro_usuario input,.formulario_registro_usuario select{
    width: 200px;
    margin: 5px; 
    font-size: 1.1em;
    color: #000066;
}

.formulario_registro_usuario input[type=checkbox]{ 
    width: auto;
    height: 25px;
    width: 25px;
}
.formulario_registro_usuario .formulario_input , .formulario_registro_usuario .formulario_input_numero{
    border: 1px solid #000066;
    background: #DBF1FF;
}
.formulario_registro_usuario .formulario_input:hover, .formulario_registro_usuario .formulario_input_numero:hover{
    border: 1px solid #000066;
    background: #9CB8DD;
}
.formulario_registro_usuario input[type="password"]{
    border: 1px solid #000066;
    background: #DBF1FF;
}
.formulario_registro_usuario input[type="password"]:hover{
    border: 1px solid #000066;
    background: #9CB8DD;
}

.formulario_registro_usuario select{
    width:202px;
}

.formulario_registro_usuario p.ayuda{
    font-size: 0.7em;
    margin: 0 0 0 215px
}

.error{
    font-size: 0.7em;
    margin: 0 0 0 215px;
    color: #C00;
    display: block;
}

/* BOTONES */
.boton
{		
    background-color: #345c76;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#579ac5), to(#345c76));
    background-image: -webkit-linear-gradient(top, #579ac5, #345c76);
    background-image: -moz-linear-gradient(top, #579ac5, #345c76);
    background-image: -ms-linear-gradient(top, #579ac5, #345c76);
    background-image: -o-linear-gradient(top, #579ac5, #345c76);
    background-image: linear-gradient(top, #579ac5, #345c76);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #111e27;
    height: 35px;
    padding: 0 10px;
    width: auto;
    cursor: pointer;
    font: bold 1.4em Arial, Helvetica;
    color: #000066;
}

.boton:hover,.boton:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #345c76), to(#579ac5));
    background-image: -webkit-linear-gradient(top,  #345c76, #579ac5);
    background-image: -moz-linear-gradient(top,  #345c76, #579ac5);
    background-image: -ms-linear-gradient(top,  #345c76, #579ac5);
    background-image: -o-linear-gradient(top,  #345c76, #579ac5);
    background-image: linear-gradient(top,  #345c76, #579ac5);
}	

.boton:active{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.boton::-moz-focus-inner{
  border: none;
}

.contenedor_administrador_acciones{
    text-align:center;
    margin-top:1em;
}

.administrador_acciones li{
        display: inline;
}

.imagen_pequeña{
    height:22px;
    width:22px;
}

.formulario_oculto{
    display:inline-block;
}

.aviso_flash{
    text-align:center;
    font-weight:bold;
    margin: 5px 0;
    color: #A50B00;
}

.tabla_datos_detalle{
}

.tabla_datos_detalle th{
    text-align:right;
    font-weight:bold;
    color:#000066
}

.tabla_datos_detalle td{
    color: #000066;
    border: none;
    border-bottom: 1px dotted;
   padding:0px;
}

div.centrado{
    text-align:center;
}

label.required::before{
    color:#036;
    content: "*";
}

#div_eliminar{
    border:3px solid #000066;
    border-radius:30px;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    text-align:center;
}

legend{
    color: #000066;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}